.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 8px 12px;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-transform: uppercase;
  border: none;
  border-radius: var(--border-radius-md);

  &:active {
    scale: .98;
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
  }
}
