.section {
  display: grid;
  row-gap: 1rem;
  padding-block: 50px;

  &__title {
    color: var(--color-primary);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
    }
  }

  &__body {
    @include fluid-text(18, 16);
  }
}
