.popup {
  &[aria-hidden="true"] {
    display: none;
  }

  &__overlay {
    @include flex-center;

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
  }

  &__container {
    background: #fff;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    padding: var(--spacing-md);
    max-height: 100%;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--spacing-sm);
  }

  &__close {
    @include square(44px);

    border: 0;
    background-color: transparent;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: var(--color-black);
      transform-origin: center;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__title {
    margin: 0;
  }

  &__content {
    margin: 1rem 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
}
