.hero {
  &__title {
    color: var(--color-accent-violet);
    margin-bottom: var(--spacing-md);
  }

  &__slider {
    max-height: 600px;

    & &-item {
      height: auto;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
