:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #fbfbfb;
  --color-text: #7b7b7b;
  --color-heading: #007272;
  --color-primary: #00b4b3;
  --color-primary-dark: #007272;
  --color-secondary: #252525;
  --color-accent: #e50000;
  --color-accent-orange: #ff7400;
  --color-accent-peach: #ffa254;
  --color-light-gray: #cecece;
  --color-border: #dadada;
  --color-form-text: #848484;
  --color-link-light: #9cf;
  --color-comment-odd-bg: rgba(0, 174, 173, 0.2);

  --color-gray: #808080;

  --border: var(--border-width-md) solid var(--color-border);

  --border-width-md: 1px;

  --border-radius-md: 4px;

  --font-family-base: "Manrope";

  --container-width: #{$container-laptop-width * 1px};
  --container-padding-x: 16px;

  --transition-duration: 0.2s;

  /* Spacings */
  --spacing-xs: .25rem;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}
